<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body class="body-index">
    <div class="global_header">
      <h1>Bienvenido a Transforme-Api</h1>
      <h3>Aplicación creada para el manejo eficiente de datos de la empresa Transforme Consultores</h3>
    </div>
    <div class="login_div">
      <div class="login">
        <h3>Inicia sesión con tu cuenta Transforme</h3>
        <hr>
        <form class="form_login" action="/empresas" method="get">
          <p> Usuario  <input type="email" name="username" pattern=".+@transforme.cl" placeholder="abc@transforme.cl"></p>
          <p> Contraseña  <input type="password" name="password"></p>
          <input type="submit" name="login_submit" value="Enviar" class="form_submit">
        </form>
      </div>
    </div>
  </body>
</html>
