<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>No permit</title>
  </head>
  <body class="body-index">
    <div class="no_header">
      <h1>No tienes los permisos necesarios para ingresar, prueba con otro usuario.</h1>
      <div class="header_div">
        <a href="/" class="back_login"><h3>Volver al Login</h3></a>
      </div>
    </div>
  </body>
</html>
